<%- include('partials/header') %>
    <div id="main" class="h-screen flex flex-col justify-center items-center opacity-0 translate-y-4 transition-all duration-700">
        <div class="container mx-auto max-w-3xl p-6">
            <ul>
                <% if (urls && urls.length > 0) { %>
                    <% urls.forEach(url => { %>
                        <li class="flex flex-col md:flex-row gap-y-6 md:gap-0 justify-between items-center bg-gray-50 p-3 rounded-lg mb-3 shadow-sm">
                            <div class="flex-1">
                                <p class="text-sm text-gray-600 truncate" title="<%= url.originalUrl %>">
                                    Original: <%= url.originalUrl %>
                                </p>
                                <p class="text-sm text-gray-800">
                                    Short: <a
                                        href="<%= url.shortUrl %>"
                                        target="_blank"
                                        class="text-indigo-500 hover:underline"
                                    >
                                        <%= url.shortUrl %>
                                    </a>
                                </p>
                            </div>
                            <div>
                                <a
                                    href="<%= url.shortUrl %>"
                                    target="_blank"
                                    class="ml-4 bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition"
                                >
                                    Visit
                                </a>
                                <a class="ml-4 text-indigo-600 py-1 px-2 rounded-md hover:text-indigo-700 transition" href="/url/analytics/?id=<%= url.shortID %>"><i class="fa-solid  fa-chart-simple"></i>
                                </a>
                            </div>
                        </li>
                    <% }); %>
                <% } else { %>
                    <p class="text-gray-500 text-center">No URLs found.</p>
                <% } %>
            </ul>
        </div>
    </div>
<%- include('partials/footer') %>
