<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shortened URLs</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100 text-gray-900 min-h-screen flex flex-col items-center py-10">
    <div class="container mx-auto max-w-2xl bg-white rounded-lg shadow p-6">
        <h1 class="text-2xl font-bold text-center mb-6">Shortened URLs</h1>

        <!-- List of URLs -->
        <ul>
            <% if (urls && urls.length > 0) { %>
                <% urls.forEach(url => { %>
                    <li class="flex justify-between items-center bg-gray-50 p-3 rounded-lg mb-3 shadow-sm">
                        <div class="flex-1">
                            <p class="text-sm text-gray-600 truncate" title="<%= url.originalUrl %>">
                                Original: <%= url.originalUrl %>
                            </p>
                            <p class="text-sm text-gray-800">
                                Short: <a 
                                    href="<%= url.shortUrl %>" 
                                    target="_blank" 
                                    class="text-indigo-500 hover:underline"
                                >
                                    <%= url.shortUrl %>
                                </a>
                            </p>
                        </div>
                        <a 
                            href="<%= url.shortUrl %>" 
                            target="_blank" 
                            class="ml-4 bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition"
                        >
                            Visit
                        </a>
                        <a class="ml-4 text-indigo-600 py-1 px-2 rounded-md hover:text-indigo-700 transition" href="http://localhost:3000/url/analytics/?id=<%= url.shortID %>"><i class="fa-solid  fa-chart-simple"></i></a>
                    </li>
                <% }); %>
            <% } else { %>
                <p class="text-gray-500 text-center">No URLs found.</p>
            <% } %>
        </ul>
    </div>
</body>
</html>
